.LinkContainer {
    width: 30%;
    height: 3vh;
    position: relative;
}

a {
    background-color: rgb(135,112,95);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

a:hover {
    background-color:yellow;
    border: thin solid black;
    font-size: 1.2rem;
    color: rgba(135,112,95,.8);
}